@media screen and (max-width: 991px){
    .nav-toggle{
        display:block;
        margin-right: 20px;
        font-weight: 1000;
        color: black;
    }

    .nav_bar{
        display: none;
    }

    .organisers{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1190px) {
    .logo_text{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .organisers {
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items to the center */
        justify-content: center; /* Justify content to the center */
    }

    .nsut {
        width: 80%;
        height: auto; /* Adjust height automatically */
    }

    .meit {
        width: 100%;
        height: auto; /* Adjust height automatically */
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .name_bio {
        text-align: justify;
    text-align-last: center; /* Ensures the last line is centered */
    margin: 0; /* Removes any default margins */
    padding: 5px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%; /* Ensure it takes full width */
        text-align: center; /* Center align the text */
        overflow-wrap: break-word; /* Ensure text wraps properly */
    }

    .name_bio h1, .name_bio h4, .name_bio p {
        margin: 5px; /* Add margin for better spacing */
    }

    .speaker_bio {
        text-align: justify;
        text-align-last: center; /* Ensures the last line is centered */
        margin: 0; /* Removes any default margins */
        padding: 5px;
        /* display: none; */
    }    

    .card_image {
        height: auto; /* Adjust height automatically */
        width: 80%; /* Adjust width for better fit */
    }
    .event_map {
        /* margin ; */
        width: 100%;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .event_location {
        text-align: center;
    }
}


