@media screen and (max-width: 991px){
    .nav-toggle{
        display:block;
        margin-right: 20px;
        font-weight: 1000;
        color: black;
    }

    .nav_bar{
        display: none;
    }

    .organisers{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1190px) {
    .logo_text{
        display: none;
    }
}

@media screen and (max-width: 535px) {
    .organisers {
        display: flex;
        flex-direction: column;

        align-items: center; /* Align items to the start */
        justify-content: center; /* Justify content to the start */
    }

    .nsut {
        width: 80%;
         /* Make it full width */
        height: 20%; /* Adjust height automatically */
    }

    .meit {
        width: 100%; /* Make it full width */
        height: 40%; /* Adjust height automatically */
    }
}